.lib(ng-model="library")
  h2
    | Library
  .libcontent
    .colors
      :markdown
        ### Colors
        [clrs.cc](http://clrs.cc/) mixins  like `+olive` or `+fuchsia` define background, text and border colors:

      span.mrsmr-colors(ng-repeat="color in library.colors" ng-class="'{{ color }}'")
        | {{ color }}
