.lib(ng-model="library")
  h2
    | Library
  .libcontent
    h3
      | Colors
    .colors
      p.intro
        | You can use color combinations as Sass mixins like this: 
      p 
        code
          | +olive

      span.mrsmr-colors(ng-repeat="color in library.colors" ng-class="'{{ color }}'")
        | {{ color }}
