.app(ng-controller="AppCtrl" ng-init="getAppData()")
  h1.
    Welcome to your app.
  .raw-data(ng-if="data")
    h2.
      This is your raw data:
    p.
      {{ data }}

  .rendered-data(ng-if="data")
    h2.
      This is your rendered data:
    p.
      {{ data.myKey }}
    .edit-data
      h3.
        You can edit it here:
      p
        input(ng-model="data.myKey" value="{{ data.myKey }}")
      p.
        Open your Local Storage in the inspector to see it sync.
  .list
    h2
      | A list:
    ul
      li.thing(ng-repeat="thing in data.myFavouriteThings track by $index")
        //- http://docs.angularjs.org/error/ngRepeat:dupes
        span
          | {{ thing }}
    h3
      | Add some things:
    p
      input.new-thing(ng-model="newThing" value="{{ newThing }}")
      button.btn.add-new-thing(ng-click="data.addNewThing(newThing)" ng-if="newThing")
        | Add "{{ newThing }}"
    h3
      | Delete them:
    ul
      li.thing(ng-repeat="thing in data.myFavouriteThings track by $index")
        button.delete-thing(ng-click="data.deleteThing($index)")
          | X
        span
          | {{ thing }}

  hr
  .admin
    a.btn(ng-click="getAppData()")
      | Reload data.json
    a.btn(ng-click="downladAppData()")
      | Download data as json


