html(ng-app="tazz")
    //- html(ng-app="myApp")
head
    meta(charset="utf-8")
    title
    link(href="index.css" rel="stylesheet" type="text/css")
    script(src="bower_components/angular/angular.js")
    script(src="bower_components/angular-cookies/angular-cookies.js")
    script(src="bower_components/angularLocalStorage/src/angularLocalStorage.js")
    script(src="bower_components/angular-animate/angular-animate.min.js")
    script(src="index.js")
    script(src="app.js")



//- body(ng-controller="MyCtrl")
body(ng-controller="TazzCtrl")
    
    .text
        :markdown
            # Hello {{ world }}!

    .footer(ng-model="tazz")
        button.btn(ng-click="tazz.uiState.isOpen = !tazz.uiState.isOpen")
            span(ng-if="!tazz.uiState.isOpen")
                | Show library
            span(ng-if="tazz.uiState.isOpen")
                | Hide library
        button.btn(ng-click="getTazzLibrary()")
                | Reload tazz.json

    lib(ng-show="tazz.uiState.isOpen")



script(src="//localhost:35729/livereload.js")
