html(ng-app="tazz")
    //- html(ng-app="myApp")
head
    meta(charset="utf-8")
    title
    link(href="index.css" rel="stylesheet" type="text/css")
    script(src="bower_components/angular/angular.min.js") 
    script(src="bower_components/angular-animate/angular-animate.min.js")    
    script(src="index.js")
    script(src="app.js")



//- body(ng-controller="MyCtrl")
body(ng-controller="TazzCtrl")
    
    .text
        :markdown
            # Hi Tazz!

            This is your canvas. Check the source of `index.jade` to see what is happening and `app.js` how it works.


    button.btn(ng-click="library.uiState.isOpen = !library.uiState.isOpen")
        span(ng-if="!library.uiState.isOpen")
            | Show library
        span(ng-if="library.uiState.isOpen")
            | Hide library

    lib(ng-show="library.uiState.isOpen")


    li(ng-repeat="item in exampleList")
        | {{ item }}

    li(ng-repeat="item in exampleObjectList" ng-click="item.uistate=!item.uistate")
        | {{ item.title }}
        | {{ item.uistate }}

    div
        p.
            Blubbi, {{ planet }}! {{ daCall }}

    destination-container
        destination( heading="{{destination.title}}" ng-repeat="destination in destinations" destination="destination")

    div.data(ng-repeat="chunk in data")
        {{ chunk.title }}
            

script(src="//localhost:35729/livereload.js")
