html
head
  meta(charset="utf-8")
  title
  link(href="index.css" rel="stylesheet" type="text/css")
  script(data-main="index", src="require.js")

body
  p.
    hello welt, hello jades
  p.
    hello line


  script(src="//localhost:35729/livereload.js")
